ion-button {
  --padding-top: 15px;
  --padding-bottom: 15px;
}

.custom-input.ion-color-danger {
    --highlight-color-focused: var(--ion-color-danger);
    --border-color: var(--ion-color-danger);
}