.terms-text {
  h3 {
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  h4 {
    font-size: 1.1rem;
    margin-top: 20px;
    color: var(--ion-color-dark);
  }

  p {
    color: var(--ion-color-step-600);
    line-height: 1.5;
    font-size: 0.95rem;
  }
}

ion-footer {
  box-shadow: 0 -2px 10px rgba(0,0,0,0.05);
}