<ion-header class="ion-no-border ion-padding">
  <ion-toolbar color="transparent">
    <ion-title class="ion-text-center">{{ 'TERMS_PAGE.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss(false)">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="terms-text">
    <p>{{ 'TERMS_PAGE.UPDATED' | translate }}</p>
    <p>{{ 'TERMS_PAGE.WELCOME' | translate }}</p>
    <p>{{ 'TERMS_PAGE.BODY' | translate }}</p>

    <h4>{{ 'TERMS_PAGE.INTRO_TITLE' | translate }}</h4>
    <p>{{ 'TERMS_PAGE.INTRO_TEXT' | translate }}</p>

    <h4>{{ 'TERMS_PAGE.LICENSE_TITLE' | translate }}</h4>
    <p>{{ 'TERMS_PAGE.LICENSE_TEXT' | translate }}</p>

    <h4>{{ 'TERMS_PAGE.COMMENTS_TITLE' | translate }}</h4>
    <p>{{ 'TERMS_PAGE.COMMENTS_TEXT' | translate }}</p>

    <h4>{{ 'TERMS_PAGE.LAW_TITLE' | translate }}</h4>
    <p>{{ 'TERMS_PAGE.LAW_TEXT' | translate }}</p>

    <h4>{{ 'TERMS_PAGE.CONTACT_TITLE' | translate }}</h4>
    <p>{{ 'TERMS_PAGE.CONTACT_TEXT' | translate }}</p>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="ion-padding">
      <ion-item lines="none">
        <ion-checkbox slot="start" [(ngModel)]="isAccepted"></ion-checkbox>
        <ion-label class="ion-text-wrap">{{ 'TERMS_PAGE.ACCEPT_LABEL' | translate }}</ion-label>
      </ion-item>
      <ion-button expand="block" [disabled]="!isAccepted" (click)="dismiss(true)" style="--padding-top: 15px; --padding-bottom: 15px;">
        {{ 'TERMS_PAGE.ACCEPT_BTN' | translate }}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>