<ion-header class="ion-no-border ion-padding">
  <ion-toolbar color="transparent">
    <ion-title class="ion-text-center">Términos y condiciones de Byte && Bite</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss(false)">
        <ion-icon name="close">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div class="terms-text">
    <p>[Última actualización]: 26 de Mayo del 2026</p>

    <p>Bienvenido/a a https://www.byteandbite.com</p>

    <p>Estos términos y condiciones describen las normas y reglamentos para el uso del sitio web de Byte && Bite,
      ubicado en https://www.byteandbite.com.

      Al acceder a este sitio web, asumimos que aceptas estos términos y condiciones. No continúes utilizando
      https://www.byteandbite.com si no estás de acuerdo con todos los términos y condiciones establecidos en esta
      página.</p>

    <h4>1. Introducción</h4>
    <p>La siguiente terminología se aplica a estos Términos y Condiciones, Declaración de Privacidad y Aviso de Exención
      de Responsabilidad, así como a todos los Acuerdos: "Cliente", "Usted" y "Su" se refieren a usted, la persona que
      accede a este sitio web y acepta los términos y condiciones de la Compañía. "Byte && Bite", "Nosotros mismos",
      "Nosotros", "Nuestro" y "Nos" se refieren a nuestra Compañía.</p>

    <h4>2. Licencia</h4>
    <p>A menos que se indique lo contrario, Byte && Bite y/o sus licenciantes poseen los derechos de propiedad
      intelectual de todo el material en https://www.byteandbite.com. Todos los derechos de propiedad intelectual están
      reservados. Puedes acceder a este material desde https://www.byteandbite.com para tu uso personal, sujeto a las
      restricciones establecidas en estos términos y condiciones.

      No debes:

      - Republicar material de https://www.byteandbite.com
      - Vender, alquilar o sublicenciar material de https://www.byteandbite.com
      - Reproducir, duplicar o copiar material de https://www.byteandbite.com
      - Redistribuir contenido de Byte && Bite
    </p>

    <h4>3. Comentarios de usuario</h4>
    <p>Partes de este sitio web ofrecen a los usuarios la oportunidad de publicar e intercambiar opiniones e
      información. Byte && Bite no filtra, edita, publica ni revisa los Comentarios antes de su presencia en el sitio
      web. Los Comentarios no reflejan los puntos de vista y opiniones de Byte && Bite, sus agentes y/o afiliados. En la
      medida en que lo permitan las leyes aplicables, Byte && Bite no será responsable de los Comentarios ni de ninguna
      responsabilidad, daño o gasto causado y/o sufrido como resultado de cualquier uso de, publicación de y/o aparición
      de los Comentarios en este sitio web.
    </p>

    <h4>4. Leyes aplicables</h4>
    <p>Estos términos se regirán e interpretarán de acuerdo con las leyes de la República Argentina, CABA, y usted se
      somete a la jurisdicción no exclusiva de los tribunales estatales y federales ubicados en Argentina, CABA para la
      resolución de cualquier disputa.
    </p>

    <h4>5. Información de contácto</h4>
    <p>
      Si tiene alguna duda sobre cualquiera de nuestros términos, por favor contáctenos a través de hr@byteandbite.com
    </p>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="ion-padding">
      <ion-item lines="none">
        <ion-checkbox slot="start" [(ngModel)]="isAccepted">
        </ion-checkbox>
        <ion-label class="ion-text-wrap">
         He leído y estoy de acuerdo con los términos y condiciones presentados.
        </ion-label>
      </ion-item>

      <ion-button expand="block" [disabled]="!isAccepted" (click)="dismiss(true)"
        style="--padding-top: 15px; --padding-bottom: 15px" ;>
        Aceptar y continuar
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>