<ion-content [fullscreen]="true" class="ion-padding">
  <div class="welcome-container">

    <div class="top-content">
      <h1 class="welcome-title">Welcome to</h1>

      <div class="logo-container">
        <div class="top-row"> 
          <span class="main-text">Byte</span>
          <span class="symbols">&&</span>
        </div>
        <div class="bottom-row">
          <ion-icon name="leaf" class="leaf-icon"></ion-icon>
          <span class="main-text">Bite</span>
        </div>
      </div>
    </div>

    <div class="bottom-content">
      <p class="terms-text">
        By clicking on next, you agree to Byte && Bite's
        <a href="#">Terms and Condition of Use</a>
      </p>

      <!--Al parecer routerLink es más rápido-->
      <ion-button routerLink="/login"  expand="block" class="next-btn">
        Next
      </ion-button>
    </div>

  </div>
</ion-content>