<ion-content [fullscreen]="true" class="ion-padding">
  <div class="welcome-container">

    <div class="top-content">
      <h1 class="welcome-title">Bienvenido/a a</h1>

      <div class="logo-container">
        <div class="top-row"> 
          <span class="main-text">Byte</span>
          <span class="symbols">&&</span>
        </div>
        <div class="bottom-row">
          <ion-icon name="leaf" class="leaf-icon"></ion-icon>
          <span class="main-text">Bite</span>
        </div>
      </div>
    </div>

    <div class="bottom-content">
      <p class="terms-text">
        Al hacer clic en siguiente, aceptas los
        <a (click)="presentTermsModal()">terminos y condiciones de uso de la aplicación</a>
      </p>

      <!--al parecer routerLink es más rápido-->
      <ion-button (click)="validateAndGo()" expand="block" class="next-btn">
        Ingresar 
      </ion-button>
    </div>

  </div>
</ion-content>