<ion-content [fullscreen]="true" class="ion-padding">
  <div class="welcome-container">

    <div class="top-content">
      <h1 class="welcome-title">{{ 'WELCOME_TITLE' | translate }}</h1>

      <div class="logo-container">
        <div class="top-row"> 
          <span class="main-text">Byte</span>
          <span class="symbols">&&</span>
        </div>
        <div class="bottom-row">
          <ion-icon name="leaf" class="leaf-icon" style="color: #4c623c;"></ion-icon>
          <span class="main-text">Bite</span>
        </div>
      </div>
    </div>

    <div class="bottom-content">
      <p class="terms-text">
        {{ 'TERMS_PART_1' | translate }}
        <a (click)="presentTermsModal()">{{ 'TERMS_LINK' | translate }}</a>
        {{ 'TERMS_PART_2' | translate }}
      </p>

      <ion-button (click)="validateAndGo()" expand="block" class="next-btn">
        {{ 'START_BTN' | translate }}
      </ion-button>
    </div>

  </div>
</ion-content>