<ion-content [fullscreen]="true" class="ion-padding background-custom">

  <div class="ion-no-border">
    <ion-toolbar mode="md">
      <ion-buttons slot="start">
        <ion-button fill="clear" routerLink="/tabs/home" class="home-btn">
          <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <div class="cointainer">
    <div class="profile-card-container">
      <div class="ion-margin-bottom ion-justify-content-center" style="display: flex;">

        <ion-avatar class="avatar" (click)="cambiarAvatar()"
          style="width: 130px; height: 130px; background: var(--ion-color-light); display: flex; align-items: center; justify-content: center; border-radius: 50%; cursor: pointer;">

          <img *ngIf="avatarService.avatar$ | async as avatar; else placeholder" [src]="avatar"
            alt="Avatar del usuario" />

          <ng-template #placeholder>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ng-template>

        </ion-avatar>

      </div>

      <ion-card class="main-card">
        <ion-card-content class="ion-text-center">
          <h2 class="user-name">{{ userService.userName }} {{ userService.userLastName }}</h2>
          <ion-button (click)="handleLogout()" fill="clear" color="success" size="small" class="logout-btn">
            Cerrar sesión
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ion-card class="data-card">
    <ion-card-header>
      <ion-card-title>DATOS PERSONALES</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="full">
        <ion-label>
          <p>Edad</p>
          <h3>{{edad}} años</h3>
        </ion-label>
        <ion-button slot="end" fill="clear" color="medium" (click)="openEditModal('edad')">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item lines="full">
        <ion-label>
          <p>Peso</p>
          <h3>{{peso}} kg</h3>
        </ion-label>
        <ion-button slot="end" fill="clear" color="medium" (click)="openEditModal('peso')">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <p>Altura</p>
          <h3>{{altura}} m</h3>
        </ion-label>
        <ion-button slot="end" fill="clear" color="medium" (click)="openEditModal('altura')">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="data-card">
    <ion-card-header>
      <ion-card-title>CUENTA</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="full">
        <ion-label>
          <p>Email</p>
          <h3>{{ userEmail }}</h3>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <p>Contraseña</p>
          <h3>••••••••</h3>
        </ion-label>
        <ion-button slot="end" fill="clear" color="medium" (click)="openEditModal('contrasena')">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- IDIOMA -->
  <ion-card class="data-card">
    <ion-card-header>
      <ion-card-title>PREFERENCIAS</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="info-row" style="display: flex; justify-content: space-between; align-items: center;">
        <div class="label-with-icon" style="display: flex; align-items: center; gap: 10px;">
          <ion-icon name="earth-outline" size="large"></ion-icon>
          <span style="font-size: 1rem;">Idioma</span>
        </div>

        <ion-segment [value]="idiomaSeleccionado" (ionChange)="cambiarIdioma($event)" mode="ios"
          style="width: 120px; min-width: 120px;">

          <ion-segment-button value="es">
            <ion-label>ES</ion-label>
          </ion-segment-button>
          <ion-segment-button value="en">
            <ion-label>EN</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="data-card">
    <ion-card-header>
      <ion-card-title>NOTIFICACIONES</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="info-row"
        style="display: flex; justify-content: space-between; align-items: center; padding: 10px 0; border-bottom: 1px solid var(--ion-color-light);">
        <div class="label-with-icon" style="display: flex; align-items: center; gap: 10px;">
          <ion-icon [name]="recordatoriosActivos ? 'notifications' : 'notifications-off'" size="large"></ion-icon>
          <span style="font-size: 1rem;">Recordatorios de comida</span>
        </div>
        <ion-toggle [(ngModel)]="recordatoriosActivos" (ionChange)="onToggleChange('recordatorios')"></ion-toggle>
      </div>

      <div class="info-row"
        style="display: flex; justify-content: space-between; align-items: center; padding: 10px 0;">
        <div class="label-with-icon" style="display: flex; align-items: center; gap: 10px;">
          <ion-icon [name]="alertasActivas ? 'notifications' : 'notifications-off'" size="large"></ion-icon>
          <span style="font-size: 1rem;">Alertas</span>
        </div>
        <ion-toggle [(ngModel)]="alertasActivas" (ionChange)="onToggleChange('alertas')"></ion-toggle>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false" [initialBreakpoint]="0.5"
    [breakpoints]="[0, 0.5, 0.8]">
    <ng-template>
      <ion-content class="ion-padding">
        <div style="margin-top: 20px;">

          <h2 style="text-transform: capitalize;" *ngIf="campoEditando !== 'contrasena'">Tu {{ campoEditando }}</h2>
          <h2 *ngIf="campoEditando === 'contrasena'">Cambiar Contraseña</h2>

          <ng-container *ngIf="campoEditando !== 'contrasena'">
            <ion-item lines="outline" style="--border-radius: 10px; margin-top: 20px;">
              <ion-input type="number" [(ngModel)]="valorTemporal"></ion-input>
            </ion-item>
          </ng-container>

          <ng-container *ngIf="campoEditando === 'contrasena'">
            <ion-item lines="outline" style="--border-radius: 10px; margin-top: 20px;">
              <ion-label position="floating">Contraseña Actual</ion-label>
              <ion-input type="password" [(ngModel)]="oldPasswordInput"></ion-input>
            </ion-item>

            <ion-item lines="outline" style="--border-radius: 10px; margin-top: 20px;">
              <ion-label position="floating">Nueva Contraseña</ion-label>
              <ion-input type="password" [(ngModel)]="newPasswordInput"></ion-input>
            </ion-item>
          </ng-container>

          <ion-button expand="block" color="success" style="margin-top: 30px;" (click)="saveChanges()">
            {{ campoEditando === 'contrasena' ? 'Actualizar Contraseña' : 'Confirmar' }}
          </ion-button>

        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>