.food-card-wrapper {

  .ion-item {
    --padding: 10px;
  }

  .info-header {
    --min-height: 10px;
    font-size: 1.1em;
    color: var(--ion-color-high);
  }
  
  ion-grid {
    font-size: 1em;
  }
}