<ion-content [fullscreen]="true">
  
  <div class="welcome-header">
    <div class="text-container">
      <p class="welcome-text">Bienvenido</p>
      <h1 class="username"> {{ nombreUsuario }} {{ apellidoUsuario}} </h1>
      <p class="text-date">{{ currentDate | date:"EEEE, d 'de' MMMM 'de' yyyy":"":"es-AR" }}</p>
    </div>
    <div class="profile-button" (click)="goToProfile()">
      <ion-avatar class="avatar-animated">
        <img src="../../assets/images/avatar-user.png" />
      </ion-avatar>
    </div>
  </div>

  <div class="circular-container">
    <svg viewBox="0 0 100 100" class="pie-chart">
      <circle class="circle-background" cx="50" cy="50" r="40" />
      <circle class="progress-circle" cx="50" cy="50" r="40" />
      
      <text x="50" y="38" class="text-ratio">PROGRESO</text>
      <text x="50" y="58" class="text-number">1410</text>
      <text x="50" y="72" class="subtitle-text">Kcal Consumidas</text>
    </svg>
  </div>

  <ion-card class="nutrition-card">
    <ion-card-content>
      <div class="nutrient-row">
        <div class="nutrient-info">
          <ion-label>Grasas</ion-label>
          <span class="percentage-text">{{ percentageFats }}%</span>
        </div>
        <ion-progress-bar color="warning" [value]="percentageFats / 100"></ion-progress-bar>
      </div>

      <div class="nutrient-row">
        <div class="nutrient-info">
          <ion-label>Proteínas</ion-label>
          <span class="percentage-text">{{ proteinPercentage }}%</span>
        </div>
        <ion-progress-bar color="success" [value]="proteinPercentage / 100"></ion-progress-bar>
      </div>

      <div class="nutrient-row">
        <div class="nutrient-info">
          <ion-label>Carbohidratos</ion-label>
          <span class="percentage-text">{{ percentageCarbo }}%</span>
        </div>
        <ion-progress-bar color="danger" [value]="percentageCarbo / 100"></ion-progress-bar>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="nutrition-card">
    <ion-card-content>
      <ion-label style="font-weight: bold; color: #333; display: block; margin-bottom: 10px;">Detalles adicionales</ion-label>
      
      <div class="row-micronutrient">
        <span>Sodio</span>
        <strong>{{ sodioMg }} mg</strong>
      </div>
      <div class="row-micronutrient">
        <span>Fibra</span>
        <strong>{{ fibraG }} g</strong>
      </div>
      <div class="row-micronutrient">
        <span>Potasio</span>
        <strong>{{ potasioMg }} mg</strong>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="nutrition-card">
    <ion-card-content>
      <div class="water-section">
        <div class="progress-water">
          <ion-progress-bar class="water-bar" [value]="0.75"></ion-progress-bar>
          <div class="text-over-bar">1500 / 2000 ml</div>
        </div>

        <div class="measure-selector">
          <div class="custom-option">
            <ion-icon name="water-outline"></ion-icon>
            <span>150 ml</span>
            <ion-button size="small" fill="clear">Agregar</ion-button>
          </div>
          
          <div class="custom-option">
            <ion-icon name="cafe-outline"></ion-icon>
            <span>250 ml</span>
            <ion-button size="small" fill="clear">Agregar</ion-button>
          </div>

          <div class="custom-option">
            <ion-icon name="beaker-outline"></ion-icon>
            <span>500 ml</span>
            <ion-button size="small" fill="clear">Agregar</ion-button>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="nutrition-card">
  <ion-card-header>
    <div class="month-selector">
      <ion-label class="month-name">{{ nameMonth | titlecase }}</ion-label>
    </div>
  </ion-card-header>

  <ion-card-content>
    <div class="week-header">
      <span>D</span><span>L</span><span>M</span><span>X</span><span>J</span><span>V</span><span>S</span>
    </div>

    <div class="schedule-grid">
      <div class="empty-day" *ngFor="let v of emptySpaces"></div>

      <div class="day" *ngFor="let dia of daysOfTheMonth" [ngClass]="{
          'today': dia.numero === rightNow,
          'completed': dia.consumido >= dia.meta && dia.consumido > 0,
          'failed': dia.consumido < dia.meta && dia.consumido > 0
        }">
        <span class="num-day">{{ dia.numero }}</span>
        <span class="kcal-day">{{ dia.consumido > 0 ? dia.consumido : '-' }}</span>
      </div>
    </div>
  </ion-card-content>
</ion-card>

</ion-content>